.hero{

    background-color: $veryLightGray;

    .container{
        @include breakpoint-up(large){
            display: flex;
            
            align-items: center;
        }
    
    }
    

    &__image{
        background: url(../../images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 18.5rem;
        position: relative;

       @include breakpoint-up(medium){
           min-height: 25rem;
           
       }

        @include breakpoint-up(large){
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
           // background-image: url(../../images/bg-intro-desktop.svg);
           // background-position: left bottom;  
            
        }
   

        &::before{
            background-image: url(../../images/bg-intro-desktop.svg);
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center bottom;
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            @include breakpoint-up(large){
                // background-position: right bottom;
                width: 150%;
                background-size: 122%;
                background-position: 0% 83%;
            }
       
        }

        &::after{
            background-image: url(../../images/image-mockups.png);
            background-size: 75%;
            background-repeat: no-repeat;
            background-position: center bottom;
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            @include breakpoint-up(large){
                // background-position: right bottom;
                width: 120%;
                height: 122%;
                background-size: 94%;
                background-position: center 150%;
                left: 22%;
            }
        }
        
    }

    &__text{
        text-align: center;
        @include breakpoint-up(large){
            flex: 2;
            order: 1;
            text-align: left;
        }
        @include breakpoint-up(medium){
            flex: 2;
            order: 1;
            text-align: center;
        }
       
    }


}